---
---

@import "{{ site.theme }}";

#header_wrap .inner {
    padding: 10px 10px 30px 10px;
}

.wrapper {
    width:1100px;
}

p.view {
    border: 1px solid rgb(51, 51, 51);
    border-radius: 5px;
    text-align: center;
    margin: 5px;
}

img.logo {
    border:none;
    box-shadow:none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.copyright {
   text-align: center
}

#forkme_banner {
   background: url("../images/blacktocat.png") #0040b0 no-repeat 98% 50%;
   border-radius:10px;
   max-width: 500px;
   font-weight: normal;
   position: unset;
   right: unset;
   margin: auto;
}
#forkme_banner a {
   font-weight: bold;
}