---
layout: base
---

{% include header.html type="page" %}

{% include teams.html %}

<div class="container" role="main">
  <div class="row">
    {% if page.add-nav-sidebar %}
      <div class="scroll-sidebar">
        <nav id="toc" data-toggle="toc" class="sticky-top"></nav>
      </div>
    {% endif %}
    <div class="col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
        <!-- main content area -->
        <div class="main-content-area">
          {{ content }}
        </div>

	    {% if page.comments %}
        <div class="disqus-comments">
	        {% include disqus.html %}
        </div>
	        {% include fb-comment.html %}
	    {% endif %}
    </div>
  </div>
  
  {% if page.add-sponsors %}
    {% include sponsors.html %}
  {% endif %}
</div>
